body{
  background-color: rgb(181, 180, 173);
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin: 0;
}

.banner{
  background-color: rgba(136,0,26,0.9);
  text-align: center;
  padding: 1px;
  border-bottom: 2px solid rgba(0,0,0,0.25);
}

.banner h1{
  background-color: rgba(242,237,218,0.5);
  padding: 0.1em;
  margin: 0.2em;
  -webkit-text-stroke: 1.5px;
  -webkit-text-stroke-color: rgb(0,0,0);
  border: 2px solid rgba(0,0,0,0.25);
  font-size: 64px;
  color: rgb(255,255,255);
  font-family: 'Lato Heavy';
}

.banner a{
  text-decoration: none;
  font-weight: 900;
  color: rgba(180,180,255,0.9)
}

footer.banner{
  background-color: rgba(136,0,26,0.9);
  color: rgba(255,255,255,0.95);
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

main{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85.59vh;
  background-image: url("../img/pokeball-background.png");
  background-color: rgba(255,255,255,0.6);
  background-blend-mode: lighten;
}

.page-button{
  padding: 2em;
  margin: 2em;
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.page-img{
  border: 5px solid black;
  border-radius: 3em;
  height: 4em;
  width: 4em;
  display: inline;
  background-color: rgba(255,255,255,0.80);
  margin: 0;
}

.arrow{
  border: solid black;
  border-width: 0 5px 5px 0;
  padding: 3px;
  height: 1em;
  width: 1em;
  display: inline-block;
  margin-top: 0;
}

.right{
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left{
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.pokedex{
  background-color: rgb(136,0,26);
  margin-top: 3em;
  padding: 0.5em;
  border: 2px solid rgba(0,0,0,0.5);
  display: flex;
}


.pokedex-left, .pokedex-right{
  display: inline-block;
  background-color: rgba(255,255,255,0.5);
  width: 400px;
  min-height: 600px;
  margin-inline: 0px;
}

.pokedex-left{
  border-right: 2px solid rgba(0,0,0,0.5);
}

.image-wrapper{
  height: 400px;
  width: 400px;
  justify-content: center;
  align-content: center;
  background-color: rgb(240,240,240);
}

.pokemon-image{
  height: 380px;
  width: 380px;
}

.wrapper{
  background-color: rgba(242, 237, 218,0.75);
  border: 1px solid black;
  margin: 0.25em;
}

.wrapper h4{
  padding-block: 0.5em;
  margin-block: 0;
  text-align: center;
  font-weight: 600;
  border-bottom: 1px solid black;
}

.wrapper>div{
  border: 1px solid black;
}

.wrapper p{
  margin-block: 0px;
  padding: 0.25em;
  background-color: rgba(255,255,255,0.5)
}

.entry-wrapper{
  background-color: rgba(242, 237, 218,0.75);
  margin: 0.25em;
}

.pokedex-right{
  border-left: 3px solid rgba(255,255,255,0.25)
}

.pokemon-name{
  text-align: center;
  font-family: 'Lato Heavy';
  font-size: 28px;
  background-color: rgba(242, 237, 218,0.75);
  margin: 0.25em;
  padding-block: 0.4em;
  border: 1.5px solid rgba(0,0,0,0.25)
}

.canvas-wrapper{
  margin: 0.25em;
  height: 380px;
  width: 380px;
  border: 5px solid rgba(0,0,0,0.5);
}

#stat-canvas{
  background-color: rgb(240,240,240);
  width: 100%;
  height: 100%;
}

.stat-wrapper{
  display: grid;
  margin: 1em;
  grid-template: "left middle right right" / 1fr 0.5fr 1fr 1fr;
  background-color: rgba(242, 237, 218,0.75);
  margin: 0.25em;
  padding-inline: 1em;
  border: 1.5px solid rgba(0,0,0,0.25)
}

.stat-right{
  width: 100%;
  grid-area: right;
  border-left: 1px solid black;
}

.stat-middle p{
  margin-left: 1em;
  font-weight: 600;
}

.stat-right>div {
  background-color: white;
  width: 90%;
  height: 18.5px;
  margin: 16px;
}

.stat-right .hit-points{
  background-color: rgb(105, 220, 18);
}

.stat-right .attack{
  background-color: rgb(239, 204, 24);
}

.stat-right .defense{
  background-color: rgb(232, 100, 18);
}

.stat-right .sp-attack{
  background-color: rgb(20, 195, 241);
}

.stat-right .sp-defense{
  background-color: rgb(74, 106, 223);
}

.stat-right .speed{
  background-color: rgb(213, 29, 173);
}